<link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet" />
<style type="text/css">
    body{display:flex !important;flex-direction:column !important;margin:0 !important;}
</style>
<div dir="ltr">
    <div>
        Prezado(a),
        <br>
        Erro ao buscar contagens de OKRs:
        <br>
        <br>
        <strong>{{data}}</strong>
        <br>
        <br>
    </div>
    <div>
        <br>
        <i>Este é um envio automático, por favor, não responda!</i>
        <br>
        -- 
        <br>
    </div>
    <div dir="ltr" data-smartmail="gmail_signature"><div dir="ltr">
        <font color="#0b5394">
            Atenciosamente,
            <br>
        </font>
        <div>
            <font color="#0b5394">
                <img src="https://ci3.googleusercontent.com/mail-sig/AIorK4zMBpExQWbOt8TPjF1NyLNKdt98eGrYwSdrkg7WRbGWUslhEAxoGA6r5d4CSsaWWCZQAS5E2S8">
                <br>
            </font>
        </div>
    </div>
</div>
</div>
<div style="text-align: center; padding: 11px 0 10px; color: #999; font-family: Nunito Sans;
line-height: 19px; font-size: 14px; background-color: #F2F5F5; font-weight: 600">