<link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet" />
<style type="text/css">
    body{display:flex !important;flex-direction:column !important;margin:0 !important;}
</style>
<div dir="ltr">
    <div>
        Prezado(a),
        <br>
        <br>
        {{data}}
        <br>
        <br>
    </div>
    <div><i>Este é um envio automático, por favor, não responda!</i></div>
    -- <br>
    <div dir="ltr" data-smartmail="gmail_signature"><div dir="ltr">
        <font color="#0b5394">Atenciosamente,<br></font>
        <div><font color="#0b5394"><img src="https://ci3.googleusercontent.com/mail-sig/AIorK4wKdn2Q8TYlVJfOyYMFraAciD6p3ByTS2tEArs3gukuomF-BWXOqL-V-Nz6MvHxkKD0deZej0k"><br></font></div>
    </div>
</div></div>
<div style="text-align: center; padding: 11px 0 10px; color: #999; font-family: Nunito Sans;
line-height: 19px; font-size: 14px; background-color: #F2F5F5; font-weight: 600">